/*Body*/
body {
    width: 100%;
    background: rgb(210, 169, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/*Menu*/
.bg-menu{
    background-color: rgb(176, 101, 179);
}

/*Color separadores*/
.bg-separadores{
    background-color: rgb(176, 101, 179);
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Define el ancho de las imagenes para cada seccion*/
.alto-img-sup{
    width: 100%;
}

/*Centrar productos para agregar al carrito de compras*/
.centrar-productos{
    width: 12rem;
    text-align: center;
}

/*Tamaño de los productos*/
.productos-carrito{
    width: 5em;
    height: 5em;
}

/*Boton productos*/
.button {
    background-color: rgb(176, 101, 179);
    border: none;
    color: white;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1em;
}

/*Transicion en el boton productos*/
.button:hover{
    background-color: #e97ce9;
    transition: all 0.5s;
    color: white;
}

/*Tamaño imagenes descripciones lineas*/
.img-desc-lineas{
    width: 15em;
    height: 15em;
}


/*Enlaces del Footer*/
footer a{
    color: white;
    text-decoration: none;
}